<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}"></head>
<body>
<header th:replace="~{fragments/commons::nav}"></header>
<main>

    <div class="container bg-blur rounded mt-3 mb-4">
        <h1>All words</h1>
        <div class="row mt-3 mb-3">

            <div class="col-5 bg-dark rounded m-auto" style="height: 30vh; overflow: auto">
                <h3 class="mySticky bg-gray text-dark rounded">German: <span th:text="${#lists.size(germanWords)}">{germanWordsCount} </span>
                </h3>
                <div
                        class="mt-3 rounded badge-warning"
                        th:each="w: ${germanWords}">
                    <img class="mr-2" src="/img/german.png" alt="Flag" width="20px" height="20px">
                    <span th:text="${w.getTerm()}">{germanTerm}</span> :<span th:text="${w.getTranslation()}"> {translation}</span>
                    <br>
                    <span>Example: </span> <span th:text="${w.getExample()}">{example}</span>
                    <br>
                    <span>Added by: <span th:text="${w.getAddedBy()}">{username}</span> on <span
                            th:text="${w.getInputDate()}">{inputDate}</span>

                        <a class="ml-3 text-danger" th:href="@{/word/remove(id=${w.getId})}">Remove</a>

                </div>
            </div>

            <div class="col-5 bg-dark rounded m-auto" style="height: 30vh; overflow: auto">
                <h3 class="mySticky bg-gray text-dark rounded">Spanish: <span th:text="${#lists.size(spanishWords)}">{spanishWordsCount}</span>
                </h3>
                <div
                        class="mt-3 rounded badge-secondary"
                        th:each="w: ${spanishWords}">
                    <img class="mr-2" src="/img/spanish.png" alt="Flag" width="20px" height="20px">
                    <span th:text="${w.getTerm()}">{spanishTerm}</span> : <span th:text="${w.getTranslation()}">{translation}</span>
                    <br>
                    <span>Example: </span><span th:text="${w.getExample()}">{example}</span>
                    <br>
                    <span>Added by: </span><span th:text="${w.getAddedBy()}">{username}</span> on <span
                            th:text="${w.getInputDate()}">{inputDate}</span>

                        <a class="ml-3 text-danger" th:href="@{/word/remove(id=${w.getId})}">Remove</a>

                </div>
            </div>
        </div>

        <div class="row mt-3 mb-3">
            <div class="col-5 bg-dark rounded m-auto" style="height: 30vh; overflow: auto">
                <h3 class="mySticky bg-gray text-dark rounded">French: <span th:text="${#lists.size(frenchWords)}">  {frenchWordsCount} </span>
                </h3>
                <div
                        class="mt-3 rounded badge-info"
                        th:each="w: ${frenchWords}">
                    <img class="mr-2" src="/img/french.png" alt="Flag" width="20px" height="20px">
                    <span th:text="${w.getTerm()}">{frenchTerm}</span>: <span th:text="${w.getTranslation()}">{translation}</span>
                    <br>
                    <span>Example: </span><span th:text="${w.getExample()}">{example}</span>
                    <br>
                    <span>Added by: </span><span th:text="${w.getAddedBy()}">{username}</span> on <span
                            th:text="${w.getInputDate()}">{inputDate}</span>

                        <a class="ml-3 text-danger" th:href="@{/word/remove(id=${w.getId})}">Remove</a>

                </div>
            </div>

            <div class="col-5 bg-dark rounded m-auto" style="height: 30vh; overflow: auto">
                <h3 class="mySticky bg-gray text-dark rounded">Italian: <span th:text="${#lists.size(italianWords)}">{italianWordsCount}</span>
                </h3>
                <div
                        class="mt-3 rounded badge-success"
                        th:each="w: ${italianWords}">
                    <img class="mr-2" src="/img/italian.png" alt="Flag" width="20px" height="20px">
                    <span th:text="${w.getTerm()}">{italianTerm}</span>: <span th:text="${w.getTranslation()}">{translation}</span>
                    <br>
                    <span>Example: </span><span th:text="${w.getAddedBy()}"> {example}</span>
                    <br>
                    <span>Added by: </span><span th:text="${w.getAddedBy()}">{username}</span> on <span
                        th:text="${w.getInputDate()}">{inputDate}</span>

                            <a class="ml-3 text-danger" th:href="@{/word/remove(id=${w.getId})}">Remove</a>

                </div>
            </div>
        </div>
        <a th:href="@{/home/remove-all}" class="btn btn-danger">Remove all <span th:text="${totalWords}">{allWordsCount}</span> words</a>
    </div>
</main>
<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>
